# Python
__pycache__/
*.pyc

# Frontend
coach_front/node_modules/
coach_front/dist/
coach_front/build/

# SQLite
*.db-shm
*.db-wal

# Env
.venv

# Logs
*.log

# Weird temp files
=*

# System
.DS_Store
